<footer>
    <!-- Start footer bottom -->
    <div>
        <h3 class="text-center w-full left-0 bottom-0 justify-center pt-2 pb-4 text-gray-700">© 2020 by ParCour | parcour@gmail.com | All rights reserved. </h3>
    </div>
</footer>
</body>
</html>