<%- include('../_layouts/sp_header') %>
<section id="move-content" class="orders light-section">
    <div class="container mx-auto pt-12 px-4">
        <h1 class="font-bold text-lg mb-4"> Pending orders</h1>
        <div class="tableorder">
            <table class=" w-full table-auto bg-white">
                <thead>
                    <tr>
                        <th class="px-4 py-2 text-left">Orders</th>
                        <th class="px-4 py-2 text-left">Supplier Name</th>
                        <th class="px-4 py-2 text-left">Company Name</th>
                        <th class="px-4 py-2 text-left">Phone</th>
                        <th class="px-4 py-2 text-left">Pickup Address</th>
                        <th class="px-4 py-2 text-left">Dropoff Address</th>
                        <th class="px-4 py-2 text-left">Status</th>
                        <th class="px-4 py-2 text-left">Placed at</th>
                    </tr>
                </thead>
                <tbody id="orderTableBody">
                </tbody>
            </table>
              </div>
        <div class="px-4 py-2 flex">
        <button type="button" class="completed-orders btn-primary text-white font-bold py-2 px-5 rounded"><a class="block"
                href="/service_provider/completed_orders"><i class="las la-list-alt"></i> Completed Orders</a></button>
        <button type="button" class="cancelled-orders btn-primary text-white font-bold py-2 ml-4 px-5 rounded"><a class="block"
                href="/service_provider/cancelled_orders"><i class="las la-times-circle"></i> Cancelled Orders</a></button>
        </div>


        </div>
  
</section>
</body>
</html>